body {
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container {
  background-color: #333;
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 1.3em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  margin-bottom: 5px;
}

.salmon-li {
  background-color: #e57373;
}

.blue-li {
  background-color: #68a3ec;
}

.green-li {
  background-color: #0d9319;
}

.input-area {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 8px;
  border: none;
  width: 59%;
  border-radius: 5px;
  background-color: #444;
  color: white;
}

button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #0d9319;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}
